# DATABASE_URL="mysql://root:password@localhost:3306/evokasir_db"
DATABASE_URL="mysql://root@localhost:3306/evokasir"
# NEXT_PUBLIC_BASE_URL=https://ekasir.evognito.my.id

MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=SB-Mid-server-T5DyiHuc1QpxCQ5dLaVPVULA
MIDTRANS_CLIENT_KEY=SB-Mid-client-8nBuwaKuJlx2_3wO

# MIDTRANS_IS_PRODUCTION=true
# MIDTRANS_SERVER_KEY=Mid-server-HByP4fyORbmHBxXb1w83GUjB
# MIDTRANS_CLIENT_KEY=Mid-client-t-tLqHkzhLl4jEDD

ONESIGNAL_APP_ID="07437ed1-9a0b-4be8-ac08-2533a94c6ae2"
ONESIGNAL_API_KEY="os_v2_app_a5bx5um2bnf6rlaieuz2stdk4ibpjumkduxepeemvqboahxf3aohr3pn7ratohmh47rb64p3nqlmp4hcfwazbvrikxl7he4khfkzgja"